[Desktop Entry]
Type=Application
Name=Bloodline
Comment=Track and analyze game boss encounters
Exec={EXEC}
Icon=de.nme.Bloodline
Terminal=false
Categories=Utility;
StartupNotify=true